       
            body{
                background-color: beige;
                align-items: center;
                text-align: center;;
            }
            h1{
                text-align: center;
                color:rgb(57, 6, 146);
            }
        